.flow-text{
  position: absolute;
  z-index: 1000;
  margin-left: 20px; 
  font-size: 50px;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.navsvg {
  position: relative;
  display: inline-block;
  
  width: 100%;
  padding-bottom: 35%;
  vertical-align: middle;
  overflow: hidden;
}

.shadow {
  -webkit-filter: drop-shadow( 20px 20px 20px rgba(0, 0, 0, .7));
  filter: drop-shadow( 20px 20px 20px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}
.flow-text{
  font-family: 'Anton', sans-serif;
}

.templates{
  margin-top: 20px;
 position: relative;
}

.simple
{
  border-radius: 50px;
  border-color: transparent;
  padding:10px 10px 10px 10px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.simple:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.cards {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: flex-start; /* switched from default (flex-start, see below) */
}

.carousel-button{
  margin-top: 90px;
}

.type-simple{
  font-family: 'Alata', sans-serif;
}

.template-holders{
  background-image: linear-gradient(-30deg, #b3e5fc , white);
}
